<div class="jumbotron text-center">
	<h1>I'm a Todo-aholic <span class="label label-info">{{init}}</span></h1>
	<div class="row" >
	<form name="AddExam" class="col-lg-6 col-md-offset-3">
		<br>
		<div class="form-group">
					<label for="ExamName" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Name of Exam" ng-model="exam.name" required>
					</div>
		</div>
		<br>
		<div class="form-group">
					<label for="ExamQuestions" class="col-sm-2 control-label">Question</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Question" ng-model="exam.questions" required>
					</div>
		</div>
		<br>
		<div class="form-group">
					<label for="ExamTime" class="col-sm-2 control-label">Time</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Time to Complete Exam" ng-model="exam.time" required>
					</div>
		</div>
		<br>
		<div class="form-group">
					<label for="ExamSubmitter" class="col-sm-2 control-label">Submitter</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Exam Submitter" ng-model="exam.submitter" required>
					</div>
		</div>
		<br>
		<br>
		<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createExam()">Submit</button>
			</div>
		</div>
	</form>
	</div>
</div>