<div class="jumbotron text-center">
	<h1>I'm a Todo-aholic <span class="label label-info">{{init}}</span></h1>
	<br>

	<div class="row">
  	<div class="col-lg-6 col-md-offset-3">
    	<div class="input-group input-group-lg">
    		<span class="input-group-addon" id="basic-addon1">Find Exam:</span>
     		 <input type="text" class="form-control" placeholder="Search for Exam by ID...">
      		<span class="input-group-btn">
      	  <button class="btn btn-default" type="button">Go!</button>
      	</span>
    	</div><!-- /input-group -->
  	</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	<div class="row">
		<br>
  		   <a class="btn btn-primary btn-lg col-lg-6 col-md-offset-3 active" href="/addExam" role="button">Add  Exams</a>
  		<br>
  			<a class="btn btn-success btn-lg col-lg-6 col-md-offset-3 active" href="/editExam" role="button">Edit  Exams</a>
  		<br>
  			<a class="btn btn-danger btn-lg col-lg-6 col-md-offset-3 active" href="/deleteExam" role="button">Delete  Exams</a>
  		<br>
	</div>
	
	
</div>