<div class="jumbotron text-left">
	<!--<h1>I'm a Todo-aholic <span class="label label-info">{{examId.text}}</span></h1>
	<h1>sss<span class="label label-info">{{examInfo.time}}</span></h1>-->
	<!-- Split button -->

  <label for="findExam" class="col-md-offset-2">Find your exam: </label>
  <div class="input-group col-xs-8 col-md-offset-2">
      <input type="text" class="form-control" placeholder="Enter Exam to View">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
  </div>
<br>
<div class="row">
   <div class="col-md-4 col-md-offset-2">
      <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Available Exams <span class="caret"></span>
      </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>

</div>

