<div class="jumbotron text-center">
	<h1>I'm a Todo-aholic <span class="label label-info">{{examId.text}}</span></h1>
	<!-- Split button -->

  <h1><label for="findExam" class="label label-primary" >Find your exam: </label> </h1>
  <br>
  <div class="input-group col-lg-8 col-lg-offset-2">
      <span class="input-group-addon" id="examname">Available Exams:</span>
        <select class="form-control text-center" title="Please select an exam" ng-model="examId">
              <option value="" disabled selected>Please select an exam</option>
              <option ng-repeat="a in all" value="{{a._id}}">{{a.name}}</option>
  </select>
<span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="updateID()">Go!</button>
</span>
</div>

<br>